@page "/leaverequests/create/"
<h3>Apply for leave</h3>


<EditForm Model="@LeaveRequest" OnValidSubmit="HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-group">
        <label for="startDate">Start Date</label>
        <InputDate class="form-control" id="startDate" @bind-Value="LeaveRequest.StartDate" />
        <ValidationMessage For="@(() => LeaveRequest.StartDate)" />
    </div>
    <div class="form-group">
        <label for="endDate">End Date</label>
            <InputDate class="form-control" id="endDate" @bind-Value="LeaveRequest.EndDate" />
        <ValidationMessage For="@(() => LeaveRequest.EndDate)" />
    </div>
    <div class="form-group">
        <label for="leaveType">Leave Type</label>
        <InputSelect class="form-control" id="leaveType" @bind-Value="LeaveRequest.LeaveTypeId">
            <option>Select Leave Type</option>
            @foreach (var leaveType in leaveTypeVMs)
            {
                <option value="@leaveType.Id">@leaveType.Name</option>
            }
            </InputSelect>
        <ValidationMessage For="@(() => LeaveRequest.LeaveTypeId)" />
    </div>
    <div class="form-group">
        <label for="comments">Comments</label>
        <InputTextArea class="form-control" id="comments" @bind-Value="LeaveRequest.RequestComments" MaxLength="300" />
        <ValidationMessage For="@(() => LeaveRequest.RequestComments)" />
    </div>

    <button class="btn btn-success" type="submit">Submit Request</button>

</EditForm>