@page "/leaverequests/employeeindex"

<h1>Leave Request Log</h1>
<hr />
@if (string.IsNullOrEmpty(Message) == false)
{
    <div class="alert alert-danger">
        @Message
    </div>
}
<table id="tblData" class="table">
    <thead>
        <tr>
            <th>
                Employee Name
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Leave Type
            </th>
            <th>
                Date Requested
            </th>

            <th>
                Approval Status
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.LeaveRequests)
        {
            <tr>
                <td>
                    @item.Employee.Firstname @item.Employee.Lastname
                </td>
                <td>
                    @item.StartDate.Value.ToString("yyyy-MM-dd")
                </td>
                <td>
                    @item.EndDate.Value.ToString("yyyy-MM-dd")
                </td>
                <td>
                    @item.LeaveType.Name
                </td>
                <td>
                    @item.DateRequested.ToString("yyyy-MM-dd")
                </td>
                <td>
                    @if (item.Cancelled)
                    {
                        <span class="badge bg-secondary">Cancelled</span>
                    }
                    else if (item.Approved == true)
                    {
                        <span class="badge bg-success">Approved</span>
                    }
                    else if (item.Approved == false)
                    {
                        <span class="badge bg-danger">Rejected</span>
                    }
                    else
                    {
                        <span class="badge bg-warning">Pending</span>
                    }
                </td>
                <td>
                    @if (!item.Cancelled /*&& item.StartDate > DateTime.Now*/)
                    {
                        <button @onclick="@(() => CancelRequestAsync(item.Id))" class="btn btn-danger">
                            <i class="fa fa-file"></i>Cancel Request
                        </button>
                    }


                </td>
            </tr>
        }
    </tbody>
</table>
